.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
*.nc
*.Rdata
*.csv
*.rda
*.png
*.nc4
*.jpg
*.xlsx
*.pptx
*.pdf
*.icloud
*.zip
*.grd
*.gri
*.tif
*.xml
*.tfw
*MCMCDiag*.jpg
.DS_store
results/
old_data/
slides/
tests/
trash/
inputs/
wc10/
wc0.5/
